html, body {
    background-image: linear-gradient(to right, rgb(214, 235, 252), rgb(98, 155, 247));
    min-width: 500px;
}

input[type="text"] {
    font-family: "AndaleMonoRegular", sans-serif;
    border: none;
    background-color: rgb(195, 222, 252);
    text-align: center;
    resize: none;
    width: 635px;
    height: 85px;
    font-size: 55px;
    outline: none;
}

.header {
    position: absolute;
    font-family: "Calibri", sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 0;
    height: 120px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 1200px;
    overflow: hidden;
}

.banner-title ul li img{
    position: fixed;
    left: 18px;
    max-width: 45px;
    max-height: 45px;
    margin-top: 13px;
    margin-right: 18px;
}

.banner-title ul li p {
    position: fixed;
    left: 80px;
    width: 120px;
    font-size: 30px;
    color: white;
    line-height: 12px;
    opacity: 0;
    transition: opacity 0.4s;
}

.side-banner {
    position: fixed;
    width: 70px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: solid 2px;
    padding-right: 12px;
    font-family: "AndaleMonoRegular", sans-serif;
    background-color: rgba(24, 43, 129, 0.753);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    transition: width 0.4s;
    flex-direction: column;
    z-index: 1;
}

.side-banner:hover {
    width: 200px;
}

.side-banner:hover .banner-title ul li p {
    opacity: 1;
}

.side-banner:hover ul li a {
    opacity: 1;
}

ul {
    margin-top: 75px;
    list-style: none;
    padding-left: 20px;
}

ul li {
    margin: 30px 4px;
    display: flex;
    width: 300px;
    height: 70px;
    justify-content: flex-start;
}

ul li a {
    line-height: 30px;
    font-family: "Calibri", sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s;
}

ul li img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
    filter: invert(1);
}

.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 130px 130px 130px 130px;
    height: 500px;
    border-radius: 20px;
    display: grid;
}

.textbox {
    height: 100px;
    width: 655px;
    font-size: 30px;
    text-align: center;
    line-height: 110px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color:rgb(130, 172, 248);
    border-radius: 20px;
    background-color: rgb(195, 222, 252);
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.btn-num {
    font-family: "Calibri", sans-serif;
    margin: 8px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    background-color: rgba(24, 35, 129, 0.695);
    color: white;
    height: 75px;
    width: 120px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-other {
    font-family: "Calibri", sans-serif;
    margin: 8px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    background-color: rgb(90, 93, 119);
    color: white;
    height: 75px;
    width: 120px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-num:hover {
    background-color: rgb(24, 35, 129);
    border-radius: 8px;
}

.btn-other:hover {
    background-color: rgb(58, 64, 80);
    border-radius: 8px;
}

.btn-0 {
    grid-row: 6/ 7;
    grid-column: 2 / 3;
}

.btn-add {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
}

.btn-1 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.btn-2 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.btn-3 {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}


.btn-sub {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

.btn-eq {
    grid-row: 5 / 7;
    grid-column: 5 / 6;
    height: 167px;
    line-height: 160px;
}

.btn-4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.btn-5 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.btn-6 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.btn-mult {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.btn-sqr {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    font-size: 27px;
}

.btn-7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.btn-8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.btn-9 {
    grid-row: 3 / 4;
    grid-column: 3 /4;
}

.btn-div {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.btn-pow {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

.btn-clr {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 27px;
}

.btn-open-par {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.btn-close-par {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.btn-mod {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.btn-dec {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}